@font-face{font-family:'Inter Tight';font-weight:300 800;src:url(InterTight-normal.woff2) format('woff2');}
@font-face{font-family:'Instrument Serif';font-style:italic;font-weight:400;src:url(InstrumentSerif-italic.woff2) format('woff2');}
@font-face{font-family:'JetBrains Mono';font-weight:100 800;src:url(JetBrainsMono.woff2) format('woff2');}
